* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

/* reset */ 
ul { list-style: none; }
a { text-decoration: none; color: black;}

header {
  display: grid;
  width: 100%;
  border: 3px solid black;
}

.util { 
  display: grid;
  justify-self: grid-end;
  align-items: center;
  height: 40px;
  padding: 10px; 
  background-color: #dce6ff; 
}
.util .util-menu li { 
  display: grid;
  justify-self: grid-end;
  column-gap: 14px;
  margin: 0 5px;
}

/* .menu {
  position: relative;
  height: 80px;
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.menu .menu-left,
.menu .menu-right {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      font-size: 30px;
      color: white;
}

.menu .menu-center ul {
  display: grid;
  align-items: center;
} */

.menu .menu-center ul li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  font-weight: bold;
}
