
.container {
  position: relative;
  width: 1024px;
  min-height: 500px;
  border: 1px dashed orange;
  margin: auto;
}

.item {
  width: 300px;
  height: 200px;
}

/* 가상요소 after가 만들어진다 */
.inner::after {
  /* 해당 타입을 블럭으로 지정 */
  display: block;
  /* 내용은 넣지 않는다 */
  content: '';
  /* 위쪽에 float가 2개 라서 both로 준다. */
  /* left나 right로 주면 한쪽으로 만 적용된다. */
  clear: both;
}

h1 { text-align: center; }

.left { 
  float: left; 
  background-color: pink; 
  height: 600px;
  border: 5px solid red;
}

.right { 
  float: right; 
  background-color: lightblue;
  height: 400px; 
  border: 5px solid blue;
}
.next { 
  width: 100%;
  background-color: cornflowerblue; 
}

