@charset "UTF-8";

/* TODO: 여기에 작성해보세요 */
form label {
  display: inline-block;
  width: 100px;
}
/* t로 시작하는 모든 요소와 textarea선택 */
input[type^='t'],
textarea {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  width: 300px;
}

textarea {
  /* textarea 리사이징이 불가능하도록 설정 */
  resize: none;
}

label[for^='co'] {
  position: relative;
  top: -90px;
}

input[type^='b'] {
  padding: 10px 20px;
  border: 1px solid #bc3636;
  background-color: #bc3636;
  color: white;
  border-radius: 5px;
}

/* :active : 마우스를 누르고 있는 상태 */
/* input태그에 type중 b로 시작하는 요소를 선택
해당 요소가 active상태일때 설정 */
input[type^='b']:active {
  border: 1px solid lightpink;
  background-color: lightpink;
}