@charset "UTF-8";

/* TODO: 여기에 작성해보세요 */
/* 초기화를 위해 *값으로 전체를 선택후 0으로 값을 입력 */
* {
  margin: 0;                  /* m0 */
  padding: 0;                 /* p0 */
}

/* 
  태그 선택자
  : 태그의 이름으로 요소를 선택하는 방식
*/
header {
  height: 85px;
  background-color: #f0f0f0;
  padding: 10px;
}

/* h1은 블럭요소이기에 float적용을 안하면 블럭 밑으로 메뉴1과 메뉴 2가 출력된다 */
header h1 {
  float: left;                  /* f1 */
  font-size: 1.8rem;            /* fz1.8rem */
  /*
    rem : html(루트) 요소에 대한 배율로 크기 지정 
   */
}

/* 기본 left정렬에서 float : right로 오른쪽으로 정렬되게 하였다 */
header ul {
  float: right;                 /* flr */
  list-style-type: none;        /* lstn */
}

/* 블록요소인 li를 display태그의 inline-block 를 통해서 inline요소처럼 처리. 가로 정렬이 가능하게 한다. */
header ul li {
  display: inline-block;        /* dib */
}

header ul li a {
  /* header 아래 ul 아래 li 아래 a에 적용 */
  /* 링크타입의 a속성에 밑줄 삭제 */
  text-decoration: none;        /* tdn */
  padding: 10px 14px;           /* p10px14px */
  color: black;               /* c:black */
}

article {
  /* article box의 최소높이 500으로  */
  min-height: 500px;            /* mh500 */
  background-color: aquamarine;
}

article section {
  /* article에 section을 좌측정렬 */
  float: left;                  /* fl */
}

article aside {
  /* article의 aside을 우측정렬 */
  float: right;                 /* flr */
  width: 200px;                 /* w200 */
  height: 500px;
  /* 셋팅한 높이, 넑이가 boxsize안에서 자동분배되도록 한다 */
  /* box-sizeing 미사용시 높이와 넓이는 padding과 테투리두께를 고려하지
  않고 내부 콘텐츠의 넓이와 높이로만 적용되서 사이즈가 오버된다. */
  box-sizing: border-box;       /* bxs */
  background-color: #fedd31;  /* backco */
  padding: 20px;                /* p20 */
  text-align: center;           /* tac */
}

footer {
  height: 20px;                 /* h20 */
  line-height: 20px;              /* lh20 */
  background-color: #c0dce7;  /* backco */
  text-align: center;           /* tac */
  padding: 20px;                /* p20 */
}